@model LaEsperanza.WEB.Models.Unit

@{
    ViewData["Title"] = "Details";
}

    <h2>Detalles</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.UnitId">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Regresar</a>
</div>
