@model IEnumerable<LaEsperanza.WEB.Models.Unit>

@{
    ViewData["Title"] = "Index";
}

<h2>Presentación</h2>

<p>
    <a class="btn btn-warning" asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Presentación del medicamento
                @*@Html.DisplayNameFor(model => model.UnitName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.UnitId">Editar</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.UnitId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UnitId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
