@{
    ViewData["Title"] = "Consultas";
}


<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<address>
    Av. República de Colombia<br />
    Los Ríos calle 2da #15<br />
    <abbr title="Número de Contacto">Número de Contacto:</abbr>
    809-991-5826
</address>

<address>
    <strong>Contacto directo:</strong> <a href="mailto:mv03852@gmail.com">mv03852@gmail.com</a><br />
    <strong>Correo de consultas:</strong> <a href="mailto:doc.everythings@gmail.com">doc.everythings@gmail.com</a>
</address>

<script src="https://account.snatchbot.me/script.js"></script>
<script>window.sntchChat.Init(161233)</script>