@model LaEsperanza.WEB.Models.DocumentType

@{
    ViewData["Title"] = "Delete";
}



<h2>¿Seguro que desea eliminar esto?</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDocument)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DocumentTypeId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Regresar</a>
    </form>
</div>
