@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
    Layout = "_Layout_2";
}

    <style>
        #forgotpassword {
            margin-left: 450px;
        }
    </style>

<h2 style="margin-left:400px;">@ViewData["Title"]</h2>
<hr />
<div id="forgotpassword" class="row">
    <div class="col-md-4">

        <h4 style="margin-left:25px;">Escribe tu Email</h4>
        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <hr />

            <a style="margin-left:15px;" class="btn btn-warning" href="https://localhost:44301/Identity/Account/Login">Regresar</a> ||
            <button type="submit" class="btn btn-info">Aceptar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
