@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación para restablecer contraseña";
    
}

<h2>@ViewData["Title"]</h2>
<p>
    Por favor verifica tu email para restablecer tu contraseña.
</p>
<a id="" class="btn btn-warning" href="https://localhost:44301/Identity/Account/ForgotPassword">Regresar</a>